<div id="container-questionnaire">
    <h1>Questionaire 2</h1>

    <hr>

    <p>Below are a list of statements. Please read each statement very carefully and rate how strongly you agree or disagree.</p>

    <div class="instructions well">

        <form id="postquiz" action="debrief" method="post">

            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-7">
                    I often notice small sounds when others do not
                </div>
                <div class="col-md-5">
                    <select id="q1" name="q1">
                        <option value="NotSelected" SELECTED> -- </option> 
                        <option value="DA">Definitely Agree</option>
                        <option value="SA">Slightly Agree</option>
                        <option value="SD">Slightly Disagree</option>
                        <option value="DD">Definitely Disagree</option>
                        <option value="DNR">I prefer not to answer</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->

            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-7">
                    I usually concentrate more on the whole picture, rather than the small details
                </div>
                <div class="col-md-5">
                    <select id="q2" name="q2">
                        <option value="NotSelected" SELECTED> -- </option> 
                        <option value="DA">Definitely Agree</option>
                        <option value="SA">Slightly Agree</option>
                        <option value="SD">Slightly Disagree</option>
                        <option value="DD">Definitely Disagree</option>
                        <option value="DNR">I prefer not to answer</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->

            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-7">
                    I find it easy to do more than one thing at once
                </div>
                <div class="col-md-5">
                    <select id="q3" name="q3">
                        <option value="NotSelected" SELECTED> -- </option> 
                        <option value="DA">Definitely Agree</option>
                        <option value="SA">Slightly Agree</option>
                        <option value="SD">Slightly Disagree</option>
                        <option value="DD">Definitely Disagree</option>
                        <option value="DNR">I prefer not to answer</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->

            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-7">
                    If there is an interruption, I can switch back to what I was doing very quickly
                </div>
                <div class="col-md-5">
                    <select id="q4" name="q4">
                        <option value="NotSelected" SELECTED> -- </option> 
                        <option value="DA">Definitely Agree</option>
                        <option value="SA">Slightly Agree</option>
                        <option value="SD">Slightly Disagree</option>
                        <option value="DD">Definitely Disagree</option>
                        <option value="DNR">I prefer not to answer</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->


            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-7">
                    I find it easy to ‘read between the lines’ when someone is talking to me
                </div>
                <div class="col-md-5">
                    <select id="q5" name="q5">
                        <option value="NotSelected" SELECTED> -- </option> 
                        <option value="DA">Definitely Agree</option>
                        <option value="SA">Slightly Agree</option>
                        <option value="SD">Slightly Disagree</option>
                        <option value="DD">Definitely Disagree</option>
                        <option value="DNR">I prefer not to answer</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->

            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-7">
                    I know how to tell if someone listening to me is getting bored
                </div>
                <div class="col-md-5">
                    <select id="q6" name="q6">
                        <option value="NotSelected" SELECTED> -- </option> 
                        <option value="DA">Definitely Agree</option>
                        <option value="SA">Slightly Agree</option>
                        <option value="SD">Slightly Disagree</option>
                        <option value="DD">Definitely Disagree</option>
                        <option value="DNR">I prefer not to answer</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->

            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-7">
                    When I’m reading a story I find it difficult to work out the characters’ intentions
                </div>
                <div class="col-md-5">
                    <select id="q7" name="q7">
                        <option value="NotSelected" SELECTED> -- </option> 
                        <option value="DA">Definitely Agree</option>
                        <option value="SA">Slightly Agree</option>
                        <option value="SD">Slightly Disagree</option>
                        <option value="DD">Definitely Disagree</option>
                        <option value="DNR">I prefer not to answer</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->

            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-7">
                    I like to collect information about categories of things (e.g. types of car, types of bird, types of train, types of plant etc)
                </div>
                <div class="col-md-5">
                    <select id="q8" name="q8">
                        <option value="NotSelected" SELECTED> -- </option> 
                        <option value="DA">Definitely Agree</option>
                        <option value="SA">Slightly Agree</option>
                        <option value="SD">Slightly Disagree</option>
                        <option value="DD">Definitely Disagree</option>
                        <option value="DNR">I prefer not to answer</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->

            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-7">
                    I find it easy to work out what someone is thinking or feeling just by looking at their face
                </div>
                <div class="col-md-5">
                    <select id="q9" name="q9">
                        <option value="NotSelected" SELECTED> -- </option> 
                        <option value="DA">Definitely Agree</option>
                        <option value="SA">Slightly Agree</option>
                        <option value="SD">Slightly Disagree</option>
                        <option value="DD">Definitely Disagree</option>
                        <option value="DNR">I prefer not to answer</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->

            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-7">
                    I find it difficult to work out people’s intentions
                </div>
                <div class="col-md-5">
                    <select id="q9" name="q9">
                        <option value="NotSelected" SELECTED> -- </option> 
                        <option value="DA">Definitely Agree</option>
                        <option value="SA">Slightly Agree</option>
                        <option value="SD">Slightly Disagree</option>
                        <option value="DD">Definitely Disagree</option>
                        <option value="DNR">I prefer not to answer</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->

        </form>
    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
