<div id="container-instructions">

    <h1>Instructions:</h1>

    <hr>

    <div class="instructions well">

        <p>
            In this game, you will choose between three goals (A, B or C) in a series of mazes. In each maze, one
            of the goals is worth 10 points, while the other two goals are worth 0 points. Your task is to win as many
            points as possible.
        </p>
        <br>

        <p>
            We will pay you a <b>bonus payment</b> for every point you win in
            the game, so try to win as many points as possible!
        </p>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!--  Maybe not previous button on this screen? -->
            	<!--
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            	-->
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <div class="right">
                    <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Next <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
